# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packages
*.egg
*.egg-info
build
sdist

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# tox
.tox

# virtualenv for development
.dev_venv

# mypy
.mypy_cache/
